---
import { log } from "astro/dist/core/logger/core";
import { getCollection } from "astro:content";


export async function getStaticPaths(){
    return[
       {
        params:{category:"CSS"},
        props:{name:"CSS"}
       },
       {
        params:{category:"HTML"},
        props:{name:"HTML"}
       },
    ]

}

const {category}=Astro.params;
const {name}=Astro.props;
const allPost=await getCollection("blog");
const castPosts=allPost.filter(
    post=>post.data.category===category
);

---

{
    castPosts.map(item=>(
        <h1 >Danh muc: <a class="bg-blue-500 w-max" href={`/category/${item.data.category}`}>{item.data.category}</a></h1>
        
        <h2>{item.data.title}</h2>
        <p>{item.data.description}</p>
        <a class="bg-green-500 " href={`/blog/${item.slug}/`}>Read</a>
    ))
}